<br />
<%= will_paginate @job_types, :remote => {:method=>:get, :update => 'item_list'} %>
<table>
  <tr>
    <td class="fieldLabel">Name</td>
  </tr>

<% @job_types.each do |job_type| %>
  <tr>
    <td class="fieldData"><%=h job_type.name %></td>
	<td width="10"></td>
    <td><%= link_to 'Show', job_type %></td>
    <td><%= link_to 'Edit', edit_job_type_path(job_type) %></td>
    <td><%= link_to 'Delete', job_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @job_types, :remote => {:method=>:get, :update => 'item_list'} %>
<br />
