
<% form_for([@client,@assigned_agency]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :agency_id %><br />
    <%= f.collection_select(:agency_id,Agency.all,:id,:name) %>
  </p>
  <p>
    <%= f.submit 'Create' unless request.xhr? %>
	<%= submit_to_remote 'create_ajax_btn', 'Create', :url=>{:action=>'create'} if request.xhr?%>
  </p>
<% end %>

