<br />
<%= will_paginate @resource_types, :remote => {:method=>:get, :update => 'item_list'} %>
<table>
  <tr>
    <td class="fieldLabel">Name</td>
	<td width="10"></td>
    <td class="fieldLabel">Description</td>
	<td width="10"></td>
    <td class="fieldLabel">Type Name</td>
	<td width="10"></td>
    <td class="fieldLabel">Status Type</td>
	<td width="10"></td>
  </tr>

<% @resource_types.each do |resource_type| %>
  <tr>
    <td><%=h resource_type.name %></td>
	<td width="10"></td>
    <td><%=h resource_type.description %></td>
	<td width="10"></td>
    <td><%=h resource_type.type_name %></td>
	<td width="10"></td>
    <td><%=h resource_type.status_type.name if resource_type.status_type %></td>
	<td width="10"></td>
<!--
    <td><%= link_to 'Show', resource_type %></td>
-->
    <td><%= link_to 'Edit', edit_resource_type_path(resource_type) %></td>
    <td><%= link_to 'Delete', resource_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @resource_types, :remote => {:method=>:get, :update => 'item_list'} %>
<br />
