<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_field :description %>
</p>
<p>
  <%= f.label :category %><br />
  <%= f.text_field :category %>
</p>
<p>
	<%= f.label :icon, "Icon" %><br />
	<%= f.file_field :icon %>
</p>
