<br />
<%= will_paginate @status_types, :remote => {:method=>:get, :update => 'item_list'} %>
<table>
  <tr>
    <td class="fieldLabel">Name</td>
	<td width="10"></td>
    <td class="fieldLabel">Description</td>
	<td width="10"></td>
  </tr>

<% @status_types.each do |status_type| %>
  <tr>
    <td><%=h status_type.name %></td>
	<td width="10"></td>
    <td><%=h status_type.description %></td>
	<td width="10"></td>
    <td><%= link_to 'Show', status_type %></td>
    <td><%= link_to 'Edit', edit_status_type_path(status_type) %></td>
    <td><%= link_to 'Delete', status_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
