
	<td width="75"></td>
	<td class="fieldData"><%=h attendance.client.name %></td>
    <td width="10"></td>
	<td class="fieldData" width="280">
	  	<%= link_to_remote (radio_button_tag "completed[#{attendance.id}]", '0', attendance.completed == '0', :onclick=>"return false;"),
	 					:url=>course_attendance_path(attendance), :with=>"'registered_class[completed]=0'", :method => :put %>Completed
		<%= link_to_remote (radio_button_tag "completed[#{attendance.id}]", '1', attendance.completed == '1', :onclick=>"return false;"), 
						:url=>course_attendance_path(attendance), :with=>"'registered_class[completed]=1'", :method => :put %>Waived
		<%= link_to_remote (radio_button_tag "completed[#{attendance.id}]", '2', attendance.completed == '2', :onclick=>"return false;"), 
						:url=>course_attendance_path(attendance), :with=>"'registered_class[completed]=2'", :method => :put %>No Show
		<%= link_to_remote (radio_button_tag "completed[#{attendance.id}]", '-1', attendance.completed == '-1', :onclick=>"return false;"), 
						:url=>course_attendance_path(attendance), :with=>"'registered_class[completed]=-1'", :method => :put %>Clear
	</td>

