<div class="banner">
	<div class="caption">Course Attendance</div>
	<div class="tabspacer">&nbsp;</div>
</div>
<div id="attendance-element">
  <div style="width: 300px;">
	<%= @output %>
	
	<% form_for @course_search, :url=>{:controller=>:course_attendances, :action=>:index} do |f| %>
	<%= f.collection_select :course_id, Course.all, :id, :name, :label=>"Class" %><br/>
	<%= f.calendar_date_select :from_date, :size=>10 %><%= @course_search.errors.on(:from_date) %><br/>
	<%= f.calendar_date_select :to_date, :size=>10 %><%= @course_search.errors.on(:to_date) %><br/>
	<%= f.submit "Search" %>
	<% end %>
  </div>
  <br/>
  <table>
	<% @attendances.each do |attendance| %>
	  <tr>
		<td class="fieldLabel"><%=h attendance.course_date_str %></td>
		<td class="fieldData">Attendees: <%=h attendance.registered_classes.size %></td>
	  </tr>
	  <tr>
		<td colspan="10">
			<table width="100%">
				<% attendance.registered_classes.each do |registrant| %>
					<tr id="attendance-<%= registrant.id %>">
						<%= render :partial=>'/course_attendances/attendance', :object => registrant %>
					</tr>
				<% end %>
			</table>
		</td>
	  </tr>
	  <tr><td colspan="10" height="20"><hr></td></tr>
	<% end %>
  </table>
</div>
