<div class="banner">
	<div class="caption">Course Attendance</div>
	<div class="tabspacer">&nbsp;</div>
</div>
<div id="attendance-element">
  <div style="width: 300px;">
	<%= @output %>
	
	<% form_for @course_search, :url=>{:controller=>:course_attendances, :action=>:index} do |f| %>
	<%= f.collection_select :course_id, Course.all, :id, :name, :label=>"Class" %><br/>
	<%= f.calendar_date_select :from_date, :size=>10 %><%= @course_search.errors.on(:from_date) %><br/>
	<%= f.calendar_date_select :to_date, :size=>10 %><%= @course_search.errors.on(:to_date) %><br/>
	<%= f.submit "Search" %>
	<% end %>
  </div>
  <br/>
  <table>
    <tr>
	  <td class="fieldlabel"><b>Class Date</b></td>
	  <td width="10"></td>
	  <td class="fieldLabel"><b>Class Name</b></td>
	  <td width="10"></td>
	  <td class="fieldLabel"><b>Client</b></td>
	  <td width="10"></td>
	  <td class="fieldLabel"><b>Status</b></td>
	</tr>
	<% @attendances.each do |attendance| %>
	  <tr id="attendance-<%= attendance.id %>">
		<%= render :partial=>'course_attendances/attendance', :object => attendance %>
	  </tr>
	<% end %>
  </table>
</div>
