<br />
<%= will_paginate @substances, :remote => {:method=>:get, :update => 'item_list'} %>
<table>
  <tr>
    <td class="fieldLabel">Name</td>
	<td width="10"></td>
  </tr>

<% @substances.each do |substance| %>
  <tr>
    <td class="fieldData"><%=h substance.name %></td>
	<td width="10"></td>
<!--
    <td><%= link_to 'Show', substance %></td>
-->
    <td><%= link_to 'Edit', edit_substance_path(substance) %></td>
    <td><%= link_to 'Delete', substance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @substances, :remote => {:method=>:get, :update => 'item_list'} %>
<br />

