
<p>
  <%= f.text_field_with_auto_complete :company_name, { :label=>"Company"}, { :url => companies_path(:ac), :method => :get, :param_name => 'query' } %>
</p>
<p>
  <%= f.collection_select(:industry_id, Industry.all, :id, :name, :label=>"Industry") %>
</p>
<p>
  <%= f.calendar_date_select :meeting_date, :label=>"Meeting Date" %>
</p>
<p>
  <%= f.check_box :application %>
</p>
<p>
  <%= f.check_box :interview %>
</p>
