<% form_for(@scheduled_course) do |f| %>
  <%= f.error_messages %>
  <%= render :partial=>"/scheduled_courses/form", :locals=>{ :f => f } %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<br/>

<!-- <% form_for(@scheduled_course) do |f| %>
  <%= f.error_messages %>

  <p>
	  <%= f.collection_select(:course_id,Course.all,:id,:name, :label=>"Course") %>
	</p>
	<p>
	  <%= f.text_field :capacity, :label=>"Number of Seats", :size=>10 %>
	</p>
	<p>
	  <%= f.calendar_date_select :course_date, :label=>"Course Date/Time", :time=>true, :size=>30 %>
	</p>
	<p>
	  <%= f.text_field :teacher %>
	</p>
	<p>
	  <%= f.text_field :location %>
	</p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<br/> -->