<div>
	<% form_tag url_for(:controller=>"/reports/clients_by_statuses/index") do |f| %>
		<table>
			<tr>
				<td>
					<table>
						<tr>
							<td>From Date:</td>
							<td><%= calendar_date_select_tag :from_date, params[:from_date] %></td>
							
						</tr>
						<tr>
							<td>To Date:</td>
							<td><%= calendar_date_select_tag :to_date, params[:to_date], :valid_date_check => "date.stripTime() >= (new Date($('from_date').value)).stripTime()" %></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table width="650px">
			<tr>
				<td>Status Types
					<table>
						<tr>
							<td>
								<% i = 0 %>
					    	<% StatusType.all.sort.each do |s_type| %>
									<% if i % 4 == 0 then %>
										</td><td>
									<% end %>
						    	<% is_checked = params["status_types"].nil? ? false : params["status_types"].include?(s_type.id.to_s) %>
						    	<%= check_box_tag "status_types[]", s_type.id, is_checked %>&nbsp;<%= s_type.name %><br>
									<% i = i + 1 %>
					    	<% end %>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					Format: <%= radio_button_tag "tabular", 'table', params["tabular"] == 'table' %>&nbsp;Tabular Report&nbsp;&nbsp;&nbsp;
					<%= radio_button_tag "tabular", 'chart', params["tabular"] == 'chart' %>&nbsp;Chart Report&nbsp;&nbsp;&nbsp;
					<%= submit_tag "Search" %>
				</td>
			</tr>
		</table>
	<% end %>
</div>
<% if @tabular == 'table' then %>
	<table>
		<tr>
			<th style="text-align: left; padding-right: 8px;">Month Year</th>
			<% @status_types.each do |status_type| %>
				<th style="text-align: right; padding-right: 8px;"><%= status_type.name.titleize %></th>
			<% end %>
		</tr>
		<% @results_by_month.sort.each do |month, statuses| %>
			<tr>
				<td style="text-align: left; padding-right: 8px;"><%= month.strftime('%B %Y') %></td>
				<% @status_types.each do |status_type| %>
					<td style="text-align: right; padding-right: 8px;"><%= statuses.find_all{|s| s.status_type_id == status_type.id}.collect(&:client).uniq.size %></td>
				<% end %>
			</tr>
			<tr><td colspan="<%=1+@status_types.size%>"><hr></td></tr>
		<% end %>
<% end %>
<br/>
<% if @tabular == 'chart' then %>
	<div style="clear:left;">
	
	<%
	# The xml is obtained as a string from builder template.
	str_xml = render "/reports/clients_by_statuses/index.xml.builder"
	%>
	
	<% #Create the chart 
	render_chart '/charts/FCF_MSColumn2D.swf' , '' , str_xml , 'ClientContact' ,  750 ,  400 ,  false, false do %>

	<%  end %>

	</div>
<% end %>
<br/>