<br />
<%= will_paginate @races, :remote => {:method=>:get, :update => 'item_list'} %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @races.each do |race| %>
  <tr>
    <td><%=h race.name %></td>
    <td><%=h race.description %></td>
    <td><%= link_to 'Show', race %></td>
    <td><%= link_to 'Edit', edit_race_path(race) %></td>
    <td><%= link_to 'Delete', race, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @races, :remote => {:method=>:get, :update => 'item_list'} %>
<br />
