<!-- Error adding more than one at a time -->
<div class="job_rate">
  <% fields_for_job_rate(job_rate) do |job_rate_form| %>
    <p>
      <%= job_rate_form.label :hourly_rate, "Pay Rate" %><br/>
	  <%= job_rate_form.text_field :hourly_rate %>
      <%= link_to_function "remove", "$(this).up('.job_rate').remove()" %>
    </p>
	<p>
	  <%= job_rate_form.label :hourly_rate_date, "Pay Rate Start Date (m/d/yyyy)" %><br />
	  <%= job_rate_form.calendar_date_select :hourly_rate_date, :time=>false %>
	</p>
  <% end %>
</div>


