<div class="job_rate">
  <%= f.label :hourly_rate, "Pay Rate" %><br />
  <%= f.text_field :hourly_rate %><br />
  <%= f.label :hourly_rate_date, "Pay Rate Start Date (m/d/yyyy)" %><br />
  <%= f.calendar_date_select :hourly_rate_date, :time=>false %><br />
  <%= link_to_remove_fields "remove", f %>
</div>
