<p>
  <b>Job Type:</b>
  <%=h @job.job_type.name unless @job.job_type.nil? %>
</p>

<p>
  <b>Company:</b>
  <%=h @job.company.name unless @job.company.nil? %>
</p>

<p>
  <b>Current:</b>
  <%= check_box_tag(:current,'true',@job.current,:onclick=>"return false;") %>
</p>

<p>
  <b>Start Date:</b>
  <%=h @job.start_date.strftime("%m/%d/%Y") unless @job.start_date.nil? %>
</p>

<p>
  <b>End Date:</b>
  <%=h @job.end_date.strftime("%m/%d/%Y") unless @job.end_date.nil?  %>
</p>

<p>
  <table>
	<tr>
	  <td colspan="4"><b>Job Rates:</b></td>
	</tr>
    <% @job.job_rates.each do |job_rate| %>
	  <tr>
		<td width="20"></td>
        <td><%=h job_rate.hourly_rate_date.strftime("%m/%d/%Y") unless job_rate.hourly_rate_date.nil? %></td>
		<td width="10"></td>
	    <td><%=h number_to_currency(job_rate.hourly_rate) %></td>
	  </tr>
  <% end %>
  </table>
</p>

<p>
  <b>Benefits:</b>
  <%=h @job.benefits_type.name unless @job.benefits_type.nil? %>
</p>

<p>
  <b>Last Modified:</b>
  <%=h @job.updated_at.strftime("%m/%d/%Y") unless @job.updated_at.nil? %>
</p>

<p>
  <b>Modified By:</b>
  <%=h User.find(@job.updater_id).name unless @job.updater_id.nil? %>
</p>

<br/>