<p>
  <b>Job Type:</b>
  <%=h @job.job_type.name unless @job.job_type.nil? %>
</p>

<p>
  <b>Company:</b>
  <%=h @job.company.name unless @job.company.nil? %>
</p>

<p>
  <b>Current:</b>
  <%= check_box_tag(:current,'true',@job.current,:onclick=>"true") %>
</p>

<p>
  <b>Start Date:</b>
  <%=h @job.start_date.strftime("%m/%d/%Y") unless @job.start_date.nil? %>
</p>

<p>
  <b>End Date:</b>
  <%=h @job.end_date.strftime("%m/%d/%Y") unless @job.end_date.nil?  %>
</p>

<p>
  <table>
	<tr>
	  <td colspan="4"><b>Job Rates:</b></td>
	</tr>
    <% @job.job_rates.each do |job_rate| %>
	  <tr>
		<td width="20"></td>
        <td><%=h job_rate.hourly_rate_date.strftime("%m/%d/%Y") unless job_rate.hourly_rate_date.nil? %></td>
		<td width="10"></td>
	    <td><%=h number_to_currency(job_rate.hourly_rate) %></td>
	  </tr>
  <% end %>
  </table>
</p>

<p>
  <b>Medical:</b>
  <%= check_box_tag(:medical,'true',@job.medical,:onclick=>"true") %>
</p>

<p>
  <b>Dental:</b>
  <%= check_box_tag(:dental,'true',@job.dental,:onclick=>"true") %>
</p>

<p>
  <b>Retirement 401k:</b>
  <%= check_box_tag(:retirement_401k,'true',@job.retirement_401k,:onclick=>"true") %>
</p>

<p>
  <b>Paid Time Off:</b>
  <%= check_box_tag(:pto,'true',@job.pto,:onclick=>"true") %>
</p>

<p>
  <b>Full Time:</b>
  <%= check_box_tag(:full_time,'true',@job.full_time,:onclick=>"true") %>
</p>

<p>
  <b>Temp to Hire:</b>
  <%= check_box_tag(:temp_to_hire,'true',@job.temp_to_hire,:onclick=>"true") %>
</p>

<br/>