
<div class="banner">
  <div class="caption">Clients</div>
</div>
   <div>
  <ul>
 <li><%= link_to "Contact Data", reports_follows_path %></li>
 <li><%= link_to "Client Contact", reports_clientcontact_index_path %></li>
 <li><%= link_to "Unduplicated Client Contact", reports_distinctclientcontact_index_path%></li>
 <li><%= link_to "Unduplicated Client Contact Detail", reports_distinct_detail_index_path%></li>
 <li><%= link_to "Successes", reports_successes_path %></li>
 <li><%= link_to "Incarcerations", reports_incarcerations_path %></li>
  </ul>
</div>
<div class="banner">
  <div class="caption">Jobs</div>
</div>
   <div>
  <ul>
    <li><%= link_to "Jobs", reports_jobs_path %></li>
    <li><%= link_to "Job Leads", reports_job_leads_path %></li>
  	<li><%= link_to "New Hires", reports_new_hires_path %></li>
  </ul>
</div>
<div class="banner">
  <div class="caption">Intake</div>
</div>
   <div>
  <ul>
    <li><%= link_to "HWP Intake", reports_hwp_intake_index_path %></li>
    <li><%= link_to "WIRC Intake", reports_wirc_intake_index_path %></li>
  	<li><%= link_to "Workshop Complete", reports_workshopcomplete_index_path %></li>
  </ul>
</div>
<div class="banner">
  <div class="caption">Classes</div>
</div>
   <div>
  <ul>
  	<li><%= link_to "Class Overfill", reports_overfill_class_path %></li>
  	<li><%= link_to "Class Attendances", course_attendances_path %></li>
  </ul>
</div>
