<table>
  <tr>
	<td valign="top">
  	  <%= f.label :course_id, 'Class' %><br />
  	  <%= f.collection_select(:course_id, Course.all, :id, :name, { :prompt => true }) %>
	</td>
	<td width="10"></td>
	<td valign="top">
  	  <%= f.label :class_date, 'Class Date' %><br />
  	  <%= f.calendar_date_select :class_date, :size=>"13" %>
	</td>
	<% unless @registered_class.nil? %>
	<td width="10"></td>
	<td valign="top">
      <%= f.label :completed, "Completed?" %><br />
	  <%= f.radio_button :completed, "0" %>Completed<br />
	  <%= f.radio_button :completed, "1" %>Waived<br />
	  <%= f.radio_button :completed, "2" %>No Show<br />
	  <%= f.radio_button :completed, "-1"%>Clear
	</td>
	<% end %>
  </tr>
</table>
