<table>
  <tr>
	<td valign="top">
  	  <%= f.collection_select(:scheduled_course_id, ScheduledCourse.find(:all, :conditions=>["course_date > ?", Time.now - 1.week], :order=>"course_date desc"), :id, :full_name, { :prompt => true, :label=>"Class" }) %>
	</td>
	<td width="10"></td>
	<% unless @registered_class and @registered_class.new_record? %>
	<td width="10"></td>
	<td valign="top">
      <%= f.label :completed, "Completed?" %><br />
	  <%= f.radio_button :completed, "0", :label=>false %>Completed<br />
	  <%= f.radio_button :completed, "1", :label=>false %>Waived<br />
	  <%= f.radio_button :completed, "2", :label=>false %>No Show<br />
	  <%= f.radio_button :completed, "-1", :label=>false %>Clear
	</td>
	<% end %>
  </tr>
</table>
