
<table>
  <tr>
    <th>Class</th>
	<td width="10"></td>
    <th>Class date</th>
	<td width="10"></td>
    <th>Completed?</th>
	<td width="10"></td>
    <th>Last Modified</th>
	<td width="10"></td>
    <th>Modified By</th>
	<td width="10"></td>
  </tr>

<% @client.registered_classes.all(:include => :scheduled_course, :order => "scheduled_courses.course_date DESC").each do |registered_class| %>
  <tr>
    <td><%=h registered_class.scheduled_course.course_name if registered_class.scheduled_course %></td>
	<td width="10"></td>
    <td><%=h registered_class.scheduled_course.course_date_str if registered_class.scheduled_course %></td>
	<td width="10"></td>
    <td align="center"><%=h registered_class.completed_value %></td>
	<td width="10"></td>
    <td align="center"><%=h registered_class.updated_at.strftime("%m/%d/%Y") unless registered_class.updated_at.nil? %></td>
	<td width="10"></td>
    <td align="center"><%=h User.find(registered_class.updater_id).name unless registered_class.updater_id.nil? %></td>
	<td width="10"></td>
<!--
    <td><%= link_to_remote 'Details', :url=>client_registered_class_path(@client,registered_class), :update=>'jobs-content', :method=>:get %></td>
-->
    <td><%= link_to_remote 'Edit', :url=>edit_client_registered_class_path(@client,registered_class), :update=>'jobs-content', :method=>:get %></td>
    <td><%= link_to_remote 'Delete', :url=>client_registered_class_path(@client,registered_class), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% if @client.registered_classes.empty? %>
  <tr>
  	<td colspan="5" class="fieldData">No Registered Classes</td>
  </tr>
<% end %>
</table>

<br />
