
<p>
  <b>Class:</b>
  <%=h @registered_class.scheduled_course.course_name if @registered_class.scheduled_course %>
</p>

<p>
  <b>Class Date:</b>
  <%=h @registered_class.scheduled_course.course_date_str if @registered_class.scheduled_course%>
</p>

<p>
  <b>Completed Class?:</b>
  <%=h @registered_class.completed_value %>
</p>

<p>
  <b>Last Modified Date:</b>
  <%=h @registered_class.updated_at.strftime("%m/%d/%Y") %>
</p>

<p>
  <b>Last Modified By:</b>
  <%=h User.find(@registered_class.updater_id).name unless @registered_class.updater_id.nil? %>
</p>

<br/>