<h1>New activity_log</h1>

<% form_for(@activity_log) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </p>
  <p>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', activity_logs_path %>