<% @user_obj.password = @user_obj.password_confirmation = nil %>

<%= error_messages_for :user_obj %>

<% form_for(@user_obj) do |f| -%>

<%= render :partial=>"/users/form", :locals=>{:f=>f} %>
<% if current_user.has_role?("admin") %>
<p><%= label_tag 'role_ids', 'Role'%><br/>
<% for role in Role.find(:all, :order=>"name asc") %>
		<%= check_box_tag "user[role_ids][]", role.id, @user_obj.roles.include?(role), :label=>{:text=>role.name, :wrap=>:after} %>
		<br/>
<% end %>
</p>
<% end %>

<p><%= submit_tag 'Update' %></p>
<% end -%>
