<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>

<% form_for(@user) do |f| -%>

<%= render :partial=>"form", :locals=>{:form=>f} %>
<% if current_user.has_role?("admin") %>
<p><%= label_tag 'role_ids', 'Role'%><br/>
<% for role in Role.find(:all, :order=>"name asc") %>
		<%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
		<%= role.name %><br/>
<% end %>
</p>
<% end %>

<p><%= submit_tag 'Update' %></p>
<% end -%>
