<br />
<%= will_paginate @users, :remote => {:method=>:get, :update => 'item_list'} %>
<table>
  <tr>
    <th>Login</th>
	<th width="10"></th>
	<th>Name</th>
	<th width="10"></th>
	<th>Roles</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.login %></td>
	<td width="10"></td>
    <td><%=h user.name %></td>
	<td width="10"></td>
	<td>
	  <% user.roles.each do |role| %>
		<%= role.name %>&nbsp;
	  <% end %>
	</td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @users, :remote => {:method=>:get, :update => 'item_list'} %>
<br />
