<% @user_obj.password = @user_obj.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for @user_obj do |f| -%>

<%= render :partial=>"form", :locals => { :f => f } %>

<p><%= label_tag 'role_ids', 'Role'%><br/>
<% for role in Role.find(:all, :order=>"name asc") %>
		<%= check_box_tag "user[role_ids][]", role.id, false,:label=>{:text=>role.name, :wrap=>:after} %>
		<br/>
<% end %>
</p>

<p><%= submit_tag 'Create User Account' %></p>
<% end -%>
