<p><%= label_tag 'login' %><br/>
<%=h @user.login %></p>

<p><%= label_tag 'name' %><br/>
<%=h @user.name %></p>

<p><%= label_tag 'role_ids', 'Role'%><br/>
<% @user.roles.each do |role| %>
		<%= role.name %><br/>
<% end %>
</p>
