
<table>
  <tr>
    <td class="fieldLabel">Company</td>
	<td width="10"></td>
    <td class="fieldLabel">Application Date</td>
	<td width="10"></td>
    <td class="fieldLabel">Last Modified</td>
	<td width="10"></td>
    <td class="fieldLabel">Modified By</td>
	<td width="10"></td>
  </tr>

<% @client.job_applications.each do |job_application| %>
  <tr>
    <td class="fieldData"><%=h job_application.company.name unless job_application.company.nil? %></td>
	<td width="10"></td>
    <td class="fieldData"><%=h job_application.application_date.strftime("%m/%d/%Y") unless job_application.application_date.nil? %></td>
	<td width="10"></td>
    <td class="fieldData"><%=h job_application.updated_at.strftime("%m/%d/%Y") unless job_application.updated_at.nil? %></td>
	<td width="10"></td>
    <td class="fieldData"><%=h User.find(job_application.updater_id).name unless job_application.updater_id.nil? %></td>
	<td width="10"></td>
    <td><%= link_to_remote 'Details', :url=>client_job_application_path(@client, job_application), :update=>'jobs-content', :method=>:get %></td>
    <td><%= link_to_remote 'Edit', :url=>edit_client_job_application_path(@client, job_application), :update=>'jobs-content', :method=>:get %></td>
    <td><%= link_to_remote 'Delete', :url=>client_job_application_path(@client, job_application), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% if @client.job_applications.empty? %>
  <tr>
  	<td colspan="5" class="fieldData">No Job Applications</td>
  </tr>
<% end %>
</table>

<br />
