<br/>
<table>
  <tr>
  	<td></td>
    <td class="fieldLabel">Name</th>
    <td class="fieldLabel">Birth date</th>
  </tr>

<% @clients.each do |client| %>
  <tr>
  	<td>
  	  <div class="photoImage floatLeft">
		<% if !client.pictures.empty? and client.pictures.first.photo.exists? %>
			<%= image_tag client.pictures.first.photo.url, :size=>"25x25" %>
		<% else %>
			<%= image_tag 'defaultphoto.gif', :size=>"25x25" %>
		<% end %>
	  </div>
  	</td>
    <td class="fieldData" align="center"><%= link_to h(client.name), client %>
	    <%= image_tag("female.jpg", :size=>"14x24") if client.gender == 'F' %>
	    <%= image_tag("male.jpg", :size=>"14x24") if client.gender == 'M' %>
		<%= image_tag("caution.jpg", :size=>"24x24") if client.caution %>
		<%= image_tag("resource_eligible.jpg", :size=>"24x24") if client.resource_eligible %>
        <%= image_tag("veteran.jpg", :size=>"14x24") if client.veteran %>
        <%= image_tag("success_story.jpg", :size=>"24x24") if client.success_story %>
	</td>
    <td class="fieldData"><%=h client.birth_date.strftime("%m/%d/%Y") unless client.birth_date.nil? %></td>
	<td width="10"></td>
    <td valign="top"><%= link_to 'Edit', edit_client_path(client) %></td>
    <td valign="top"><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <tr>
	<td colspan="10"><hr/></td>
  </tr>
<% end %>
<% if @clients.nil? or @clients.empty? %>
  <tr>
  	<td colspan="10">No Clients found</td>
  </tr>
<% end %>
</table>

<br />
