<div class="photoImage floatLeft">
	<div id="client-image">
		<% unless @client.pictures.empty? %>
			<% image_url=@client.pictures.first.photo.url %>
			<% link_url = edit_client_picture_path(@client,@client.pictures.first) %>
		<% else %>
			<% image_url='defaultphoto.gif' %>
			<% link_url = new_client_picture_path(@client) %>
		<% end %>
		<%= link_to_remote image_tag(image_url, :size=>"50x50"), :url=>link_url, :update=>'contacts-content', :method=>:get %>
	</div>
</div>

<% fields_for @client do |f| %>
<table>
  <tr>
  	<td style="vertical-align: top;">
		<table>
		  <tr> 
		    <td class="fieldLabel">
			  <b>Birth Date:</b>
		    </td>
		    <td class="fieldData">
			  <%=h @client.birth_date.strftime("%m/%d/%y") unless @client.birth_date.nil? %>
		    </td>
		  </tr>
		  <tr>
		    <td class="fieldLabel">
			  <b>Last Modified:</b>
		    </td>
		    <td class="fieldData">
			  <%=h @client.updated_at.strftime("%m/%d/%y %H:%M:%S") unless @client.updated_at.nil? %>
		    </td>
		  </tr>
		  <tr>
		    <td class="fieldLabel">
		      <b>Race:</b>
		    </td>
		    <td class="fieldData">
		      <%=h @client.race.name %>
		    </td>
		  </tr>
		<tr>
		    <td class="fieldLabel">
		      <b>Education:</b>
		    </td>
		    <td class="fieldData">
		      <%=h @client.education.name unless @client.education.nil? %>
		    </td>
		  </tr>
		</table>
	</td>
	<td width="25">
	
	</td>
	<td width="10"></td>
	<td valign="top">
	  <table>
		<tr><td><b>Alerts</b></td></tr>
		<% @client.contacts.each do |contact| %>
		  <%= render( :partial=>'shared/alert', :object=>contact ) if contact.alert %>
		<% end %>
	  </table>
	</td>
  </tr>
</table>
<% end %>
