<%= render 'clients/thumbnail_image' %>

<% fields_for @client do |f| %>
<table>
  <tr>
  	<td style="vertical-align: top;">
		<table>
		  <tr> 
		    <td class="fieldLabel">
			  <b>Birth Date:</b>
		    </td>
		    <td class="fieldData">
			  <%=h @client.birth_date.strftime("%m/%d/%y") unless @client.birth_date.nil? %>
		    </td>
		  </tr>
		  <tr>
		    <td class="fieldLabel">
			  <b>Last Modified:</b>
		    </td>
		    <td class="fieldData">
			  <%=h @client.updated_at.strftime("%m/%d/%y %H:%M:%S") unless @client.updated_at.nil? %><br/>
			  (<%=h User.find(@client.updater_id).name unless @client.updater_id.nil?%>)
		    </td>
		  </tr>
		  <tr>
		    <td class="fieldLabel">
		      <b>Race:</b>
		    </td>
		    <td class="fieldData">
		      <%=h @client.race.name %>
		    </td>
		  </tr>
		  <tr>
		    <td class="fieldLabel">
		      <b>Education:</b>
		    </td>
		    <td class="fieldData">
		      <%=h @client.education.name unless @client.education.nil? %>
		    </td>
		  </tr>
		  <%  unless @client.education_subjects.nil? or @client.education_subjects.blank? %>
		  <tr>
		    <td class="fieldData" colspan="2" style="padding-left:10px;">
		      <%=h @client.education_subjects %>
		    </td>
		  </tr>
		  <% end %>
		  <tr>
		    <td class="fieldLabel">
		      <b>Work History:</b>
		    </td>
		    <td class="fieldData">
		      <%=h @client.work_history.name unless @client.work_history.nil? %>
		    </td>
		  </tr>
		  <% unless @client.work_note.nil? or @client.work_note.blank? %>
		  <tr>
		    <td class="fieldData" colspan="2" style="padding-left:10px;">
		      <%=h @client.work_note %>
		    </td>
		  </tr>
		  <% end %>
		</table>
	</td>
	<td width="25">
	
	</td>
	<td width="10"></td>
	<td valign="top">
	  <table>
		<tr><td><b>Alerts</b></td></tr>
		<% @client.contacts.each do |contact| %>
		  <%= render( :partial=>'shared/alert', :object=>contact ) if contact.alert %>
		<% end %>
	  </table>	
	</td>
  </tr>
</table>
<% end %>
