
<% form_for(@client) do |f| %>
  <%= f.error_messages %>

  <table>
  	<tr>
  		<td valign="top">
		  <p>
		    <%= f.label :first_name %><br />
		    <%= f.text_field :first_name %>
		  </p>
		  <p>
		    <%= f.label :middle_name %><br />
		    <%= f.text_field :middle_name %>
		  </p>
		  <p>
		    <%= f.label :last_name %><br />
		    <%= f.text_field :last_name %>
		  </p>
		  <p>
		    <%= f.label :birth_date %><br />
		    <%= f.date_select :birth_date,:include_blank=>true %>
		  </p>
  		</td>
		<td width="10"></td>
  		<td>
		  <p>
		    <%= f.label :race %><br />
		    <%= f.collection_select(:race_id,Race.all,:id,:name) %>
		  </p>
		  <p>
		    <%= f.label :gender %><br />
		    <%= f.select(:gender,["M","F"]) %>
		  </p>
		  <p>
		    <%= f.check_box :caution %>
		    <%= f.label :caution %><br />
		  </p>
		  <p>
		    <%= f.check_box :resource_eligible %>
		    <%= f.label :resource_eligible %><br />
		  </p>
		  <p>
		    <%= f.check_box :veteran %>
		    <%= f.label :veteran %><br />
		  </p>
		  <p>
		    <%= f.check_box :success_story %>
		    <%= f.label :success_story %><br />
		  </p>  		
        </td>
		<td width="10"></td>
		<td>
		  <%= f.label :status_types %><br/>
		  <div class="scrollable">
			<% StatusType.all.each do |status_type| %>
				<%= check_box_tag "client[status_type_ids][]", status_type.id, @client.status_types.include?(status_type) %>
				<%= status_type.name %>
				<br/>
			<% end %>
		  </div>
		</td>
  	</tr>
	<tr>
		<td>
		    <%= f.submit 'Update' unless request.xhr? %>
			<%= submit_to_remote 'update_ajax_btn', 'Update', :url=>{:action=>'update'}, :update=>'client-content' if request.xhr? %>
		</td>
	</tr>
  </table>

<% end %>

<br/>