<% form_for(@client) do |f| %>
	<div id="client-content">
	  <div class="banner"><div class="caption">New Client</div></div>
	  <div id="client-element">
	    <%= render :partial=>'clients/form', :locals=>{ :f => f } %>
	  </div>
	</div>
	<br/>
	
	<div id="contacts-content">
	  <div class="banner"><div class="caption">Contacts</div></div>
	  <div id="contacts-element">
		<% f.fields_for :contacts do |contact_fields| %>
		  <%= render :partial=>'contacts/form', :locals => { :f => contact_fields } %>
		<% end %> 
	  </div>
	</div>
	<%= add_element_link("add contact", f, :contacts) %>
    <br />
	<br />

	<div id="addresses-content">
	  <div class="banner"><div class="caption">Addresses</div></div>
	  <div id="addresses-element">
		<% f.fields_for :addresses do |address_fields| %>
		  <%= render :partial=>'addresses/form', :locals => { :f => address_fields } %>
		<% end %>
	  </div>
	</div>
	<%= add_element_link("add address", f, :addresses) %>
    <br />
	<br />
	
	<div id="phones-content">
	  <div class="banner"><div class="caption">Phones</div></div>
	  <div id="phones-element">
		<% f.fields_for :phones do |phone_fields| %>
		  <%= render :partial=>'phones/form', :locals => { :f => phone_fields } %>
		<% end %>
	  </div>
	</div>
	<%= add_element_link("add phone", f, :phones) %>
    <br />
    <br />
	
	<div id="workhistory-content">
	  <div class="banner"><div class="caption">Work History</div></div>
	  <div id="workhistory-element">
        <table> 
	    <tr>
		<td> 
		    <%= f.collection_select(:work_history_id,WorkHistory.all,:id,:name, {:include_blank=>true}) %>
		<td/>
		<td width="20"></td>
		<td>
			  <%= f.text_area :work_note, :size=>"60x4" %>
		<td />
		<tr />	
		<table />
		  <br />
		  <br />
	  </div>
	</div>
    <br/>
	<br/>
	
	<div id="assigned_agencies-content">
	  <div class="banner"><div class="caption">Assigned Agencies</div></div>
	  <div id="assigned_agencies-element">
		<% f.fields_for :assigned_agencies do |assigned_agency_fields| %>
		  <%= render :partial=>'assigned_agencies/form', :locals => { :f => assigned_agency_fields } %>
		<% end %>
	  </div>
	</div>
	<%= add_element_link("add assigned agency", f, :assigned_agencies) %>
    <br/>
	<br/>
	
	<div id="used_substances-content">
	  <div class="banner"><div class="caption">Used Substances</div></div>
	  <div id="used_substances-element">
		<% f.fields_for :used_substances do |substance_fields| %>
		  <%= render :partial=>'used_substances/form', :locals => { :f => substance_fields } %>
		<% end %>
	  </div>
	</div>
	<%= add_element_link("add used substance", f, :used_substances) %>
    <br />
	<br />
	
	<div id="crime_sentences-content">
	  <div class="banner"><div class="caption">Crime Sentences</div></div>
	  <div id="crime_sentences-element">
		<% f.fields_for :crime_sentences do |crime_sentences_fields| %>
		  <%= render :partial=>'crime_sentences/form', :locals => { :f => crime_sentences_fields } %>
		<% end %>
	  </div>
	</div>
	<%= add_element_link("add crime sentence", f, :crime_sentences) %>
	<br/>
    <br/>

	<div id="registered_classes-content">
	  <div class="banner"><div class="caption">Registered Classes</div></div>
	  <div id="registered_classes-element">
		<% f.fields_for :registered_classes do |classes_fields| %>
		  <%= render :partial=>'registered_classes/form', :locals => { :f => classes_fields } %>
		<% end %>
	  </div>
	</div>
	<%= add_element_link("add registered class", f, :registered_classes) %>
    <br />
    <br />
	
	<table>
	  <tr>
		<td>
		    <%= f.submit 'Create' %>
		</td>
	  </tr>
    </table>

	<br/>
	<br/>
<% end %>
