<h1>New job_rate</h1>

<% form_for(@job_rate) do |f| %>

  <p>
    <%= f.text_field :client_id %>
  </p>
  <p>
    <%= f.text_field :job_id %>
  </p>
  <p>
    <%= f.text_field :hourly_rate %>
  </p>
  <p>
    <%= f.date_select :hourly_rate_date %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', job_rates_path %>