
<% form_for(@agency) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :agency_type_id, "Agency Type" %><br />
    <%= f.collection_select(:agency_type_id,AgencyType.all,:id,:name) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
