
<% form_for(@industry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :industry_type %><br />
    <%= f.text_field :industry_type %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<br/>