<% unless contact.new_record? or (controller.action_name == 'edit' and contact == @contact) %>
<tr>
  <td class="fieldData" height="10"><%=h contact.contact_type.name unless contact.contact_type.nil? %></td>
  <td width="10" height="10"></td>
  <td class="fieldData" style="text-align: center;" height="10"><%= link_to_remote (check_box_tag :contact_negative, 'true', contact.contact_negative, :onclick=>"return false;"), :url=>client_contact_path(@client,contact), :with=>"'contact[contact_negative]="+(!contact.contact_negative).to_s+"'", :method=>:put %></td>
  <td width="10" height="10"></td>
  <td class="fieldData" style="text-align: center;" height="10"><%= link_to_remote (check_box_tag :alert, 'true', contact.alert, :onclick=>"return false;"), :url=>client_contact_path(@client,contact), :with=>"'contact[alert]="+(!contact.alert).to_s+"'", :method=>:put %></td>
  <td width="10" height="10"></td>
  <td class="fieldData">
	<%=h contact.contact_date.strftime("%m/%d/%y") unless contact.contact_date.nil? %>
	<% unless contact.updater_id.nil?  %>&nbsp;(<%=h User.find(contact.updater_id).name %>)&nbsp;-&nbsp;<% end %>
	<%=h contact.note %>
  </td>
  <td width="10"></td>
  <!-- <td rowspan="2"><%= link_to_remote 'Details', :url=>client_contact_path(@client,contact), :update=>'contacts-content', :method=>:get %></td> -->
  <td><%= link_to_remote 'Edit', :url=>edit_client_contact_path(@client,contact), :update=>'contacts-content', :method=>:get %></td>
  <td><%= link_to_remote 'Delete', :url=>client_contact_path(@client,contact), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>