
<table>
  <tr>
	<td>
  	  <%= f.collection_select(:contact_type_id, ContactType.all, :id, :name, :label=>"Type") %>
	</td>
	<td width="10"></td>
	<td>
	  <%= f.calendar_date_select :contact_date, :size=>"13", :value=>"#{ f.object.contact_date.nil? ? Time.now.strftime("%m/%d/%Y") : f.object.contact_date.strftime("%m/%d/%Y") }", :label=>"Date" %>
	</td>
	<td width="10"></td>
	<td>
	  <%= f.check_box :contact_negative, :label=>"Negative" %>
	</td>
	<td width="10"></td>
	<td>
	  <%= f.check_box :alert %>
	</td>
  </tr>
</table>
<table>
  <tr>
	<td colspan="7">
	  <%= f.text_area :note, :size=>"88x15", :maxlength=>"2000" %>
	</td>
  </tr>
</table>
