
<table>
	<tr>
	  <td valign="top">
		<table>
		  <tr>
			<td>
		      <%= type_select(f, :resource_type_id, ResourceType.all, :id, :name, {}) %>
			</td>
		  </tr>
		  <tr>
			<td>
			  <%= f.calendar_date_select :resource_date, :time=>false %>
			</td>
			<td width="10"></td>
			<td valign="top" rowspan="4">
			  <%= render :partial=>'association_fields', :locals=>{:f=>f} %>
			</td>
		  </tr>
		  <tr>
			<td>
		      <%=h "$" %><%= f.text_field :amount, :size=>"15" %>
			</td>
		  </tr>
		  <tr>
			<td>
		      <%= f.text_field :number, :size=>"15" %>
			</td>
		  </tr>
		  <tr>
			<td>
		      <%= f.check_box :verified %>
			</td>
		  </tr>
		</table>
	  </td>
	</tr>
</table>
