
<table>
  <tr>
    <td class="fieldLabel"><b>Date Assigned</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Type</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Amt</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Qty</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Verified</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Modified By</b></td>
	<td width="10"></td>
  </tr>
<!--  <tr height="3"><td colspan="15" height="3"><hr></td></tr> -->

<% @client.assigned_resources.each do |assigned_resource| %>
  <tr>
    <td class="fieldData"><%=h assigned_resource.resource_date.strftime("%m/%d/%Y") %></td>
	<td width="10"></td>
    <td class="fieldData">
	  <%=h assigned_resource.resource_type.name unless assigned_resource.resource_type.nil? %>
	</td>
	<td width="10"></td>
    <td class="fieldData" align="right"><%=h number_to_currency(assigned_resource.amount, :precision=>0) %></td>
	<td width="10"></td>
    <td class="fieldData" align="right"><%=h number_with_delimiter(assigned_resource.number) %></td>
	<td width="10"></td>
    <td class="fieldData" align="center"><%= link_to_remote (check_box_tag :verified, 'true', assigned_resource.verified, :onclick=>"return false;"), :url=>client_assigned_resource_path(@client,assigned_resource), :with=>"'assigned_resource[verified]="+(!assigned_resource.verified).to_s+"&assoc=false'", :method => :put %></td>
	<td width="10"></td>
	<td class="fieldData"><%= User.find(assigned_resource.updater_id).name unless assigned_resource.updater_id.nil? %></td>
	<td width="10"></td>
<!--
    <td><%= link_to_remote 'Details', :url=>client_assigned_resource_path(@client,assigned_resource), :update=>'contacts-content', :method=>:get %></td>
-->
    <td><%= link_to_remote 'Edit', :url=>edit_client_assigned_resource_path(@client,assigned_resource), :update=>'contacts-content', :method=>:get %></td>
    <td><%= link_to_remote 'Delete', :url=>client_assigned_resource_path(@client,assigned_resource), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <tr>
	<%= render :partial => 'assigned_resources/association_field_list', :locals => {:assigned_resource => assigned_resource} %>
  </tr>
  <tr><td colspan="17" height="3"><hr/></td></tr>
<% end %>
<% if @client.assigned_resources.empty? %>
  <tr>
  	<td colspan="5" class="fieldData">No Assigned Resources</td>
  </tr>
<% end %>

</table>

<br />

