
<table>
  <tr>
    <td class="fieldLabel"><b>Date Assigned</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Type</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Amount</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Number</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Verified</b></td>
	<td width="10"></td>
<!--    
	<td class="fieldLabel"><b>From<br>Companies</b></td>
	<td colspan="4"></td>
-->
  </tr>
<!--  <tr height="3"><td colspan="15" height="3"><hr></td></tr> -->

<% @client.assigned_resources.each do |assigned_resource| %>
  <tr>
    <td class="fieldData"><%=h assigned_resource.resource_date.strftime("%m/%d/%Y") %></td>
	<td width="10"></td>
    <td class="fieldData"><%=h assigned_resource.resource_type.name %></td>
	<td width="10"></td>
    <td class="fieldData" align="right"><%=h number_to_currency(assigned_resource.amount, :precision=>0) %></td>
	<td width="10"></td>
    <td class="fieldData" align="right"><%=h number_with_delimiter(assigned_resource.number) %></td>
	<td width="10"></td>
    <td class="fieldData" align="center"><%= check_box_tag :verified, 'true', assigned_resource.verified, :onclick=>"return false;" %></td>
	<td width="10"></td>
<!--
    <td class="fieldData"><% assigned_resource.companies.each {|company| %><%=h company.name%><br><% } %></td>
	<td width="10"></td>
-->
    <td><%= link_to_remote 'Show', :url=>client_assigned_resource_path(@client,assigned_resource), :update=>'contacts-content', :method=>:get %></td>
    <td><%= link_to_remote 'Edit', :url=>edit_client_assigned_resource_path(@client,assigned_resource), :update=>'contacts-content', :method=>:get %></td>
    <td><%= link_to_remote 'Destroy', :url=>client_assigned_resource_path(@client,assigned_resource), :update=>'contacts-content', :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <tr><td colspan="15" height="3"><hr/></td></tr>
<% end %>
<% if @client.assigned_resources.empty? %>
  <tr>
  	<td colspan="5" class="fieldData">No Assigned Resources</td>
  </tr>
<% end %>

</table>

<br />

