<%= render 'assigned_resources/banner' %>

<% form_for([@client, @assigned_resource], :builder=>LabelingFormBuilder) do |f| %>
  <%= f.error_messages %>

  <%= render :partial=>'assigned_resources/form', :locals=>{:f=>f}%>

  <table>
	<tr>
	  <td>
        <%= f.submit 'Update' unless request.xhr? %>
	    <%= submit_to_remote 'update_ajax_btn', 'Update', :url=>{:action=>'update'}, :html=>{:onclick=>"if (!check_form()) return;"} if request.xhr? %>
	  </td>
    </tr>
  </table>
<% end %>


