
<% form_for([@client, @assigned_resource]) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :resource_date %><br />
    <%= f.date_select :resource_date %>
  </p>
  <p>
    <%= f.label :resource_type %><br />
    <%= f.collection_select(:resource_type_id,ResourceType.all,:id,:name) %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :verified %><br />
    <%= f.check_box :verified %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
