<br />
<%= will_paginate @companies, :remote => {:method=>:get, :update => 'item_list'} %>

<table>
  <tr>
    <td class="fieldLabel"><b>Name</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Description</b></td>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td class="fieldData"><%=h company.name %></td>
	<td width="10"></td>
    <td class="fieldData"><%=h company.description %></td>
	<td width="10"></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <tr><td colspan="10"><hr/></td></tr>
<% end %>
</table>
<%= will_paginate @companies, :remote => {:method=>:get, :update => 'item_list'} %>
<br />

