<%= will_paginate @address_types, :remote => {:method=>:get, :update => 'item_list'}%>
<table>
  <tr>
    <th>Name</th>
  </tr>

<% @address_types.each do |address_type| %>
  <tr>
    <td><%=h address_type.name %></td>
    <td><%= link_to 'Show', address_type %></td>
    <td><%= link_to 'Edit', edit_address_type_path(address_type) %></td>
    <td><%= link_to 'Destroy', address_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @address_types, :remote => {:method=>:get, :update => 'item_list'}%>

<br />
