
<% form_for(@contact_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :default_selection, "New Client Default" %><br />
    <%= f.check_box :default_selection %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

