<table>
  <tr>
	<td valign="top">
  	  <%= f.label :prison, "Facility" %><br />
  	  <%= f.collection_select(:prison_id,Prison.all,:id,:name,{:prompt=>true}) %>
	  <br />
	  <br />
  	  <%= f.label :incarceration_length, "Incarceration Length" %><br />
  	  <%= f.collection_select(:incarceration_length_id,IncarcerationLength.all,:id,:name,{:prompt=>true}) %>
	  <br />
	  <br />
  	  <%= check_box_tag :furlough %>
  	  <%= f.label :furlough, "Work Furlough/Work Release" %> 
	</td>
	<td width="10"></td>
	<td valign="top">
  	  <%= f.label :crime_types, "Crime Type(s)" %><br/>
	  <div class="scrollable">
		  <% CrimeType.all.each do |crime_type| %>
			<%= check_box_tag "crime_sentence[crime_type_ids][]", crime_type.id, @crime_sentence.crime_types.include?(crime_type) %>
			<%=h crime_type.name %>
			<br/>
		  <% end %>
	  </div>
	</td>
	<td width="10"></td>
	<td valign="top">
	  <%= f.label :convictions, "Conviction(s)" %><br/>
	  <div class="scrollable">
		  <% Conviction.all.each do |conviction| %>
			<%= check_box_tag "crime_sentence[conviction_ids][]", conviction.id, @crime_sentence.convictions.include?(conviction) %>
			<%=h conviction.name %>
			<br/>
		  <% end %>
	  </div>
	</td>
  </tr>
</table>
