
<table>
  <tr>
    <td class="fieldLabel"><b>Facility</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Incarceration Length</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Work Furlough/Release</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Crime Type(s)</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Conviction(s)</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Last Modified</b></td>
	<td width="10"></td>
    <td class="fieldLabel"><b>Modified By</b></td>
	<td width="10"></td>
  </tr>

<% @client.crime_sentences.each do |crime_sentence| %>
  <tr>
    <td class="fieldData"><%=h crime_sentence.prison.name unless crime_sentence.prison.nil? %></td>
	<td width="10"></td>
    <td class="fieldData"><%=h crime_sentence.incarceration_length.name unless crime_sentence.incarceration_length.nil? %></td>
	<td width="10"></td>
    <td class="fieldData"><%= link_to_remote (check_box_tag :furlough, 'true', crime_sentence.furlough, :onclick=>"return false;"), :url=>client_crime_sentence_path(@client,crime_sentence), :with=>"'crime_sentence[furlough]="+(!crime_sentence.furlough).to_s+"&assoc=false'", :method => :put %></td>
	<td width="10"></td>
    <td class="fieldData">
    	<% crime_sentence.crime_types.each do |crime_type| %>
			<%=h crime_type.name %>
			<br/>
		<% end %>
    </td>
	<td width="10"></td>
    <td class="fieldData">
    	<% crime_sentence.convictions.each do |conviction| %>
			<%=h conviction.name %>
			<br/>
		<% end %>
    </td>
	<td width="10"></td>
	<td class="fieldData"><%=h crime_sentence.updated_at.strftime("%m/%d/%Y") unless crime_sentence.updated_at.nil? %></td>
	<td width="10"></td>
	<td class="fieldData"><%=h User.find(crime_sentence.updater_id).name unless crime_sentence.updater_id.nil? %></td>
	<td width="10"></td>
<!--
    <td><%= link_to_remote 'Details', :url=>client_crime_sentence_path(@client,crime_sentence), :update=>"infamy-content", :method=>'get' %></td>
-->
    <td><%= link_to_remote 'Edit', :url=>edit_client_crime_sentence_path(@client,crime_sentence), :update=>"infamy-content", :method=>'get' %></td>
    <td><%= link_to_remote 'Delete', :url=>client_crime_sentence_path(@client,crime_sentence), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% if @client.crime_sentences.empty? %>
  <tr>
  	<td colspan="11" class="fieldData">No Crime Sentences</td>
  </tr>
<% end %>
</table>

<br />

