
<p>
  <b>Incarceration date:</b>
  <%=h @crime_sentence.start_date.strftime("%b %Y") unless @crime_sentence.start_date.nil? %>
</p>

<p>
  <b>Release date:</b>
  <%=h @crime_sentence.release_date.strftime("%b %Y") unless @crime_sentence.release_date.nil? %>
</p>

<p>
  <b>Prison:</b>
  <%=h @crime_sentence.prison.name unless @crime_sentence.prison.nil? %>
</p>

<p>
  <b>Crime type:</b>
  <%=h @crime_sentence.crime_type.name unless @crime_sentence.crime_type.nil? %>
</p>

<p>
  <b>Felony:</b>
  <%= check_box_tag :felony, 'true', @crime_sentence.felony, :onclick=>"return false;" %>
</p>

<p>
  <b>Violent:</b>
  <%= check_box_tag :violent, 'true', @crime_sentence.violent, :onclick=>"return false;" %>
</p>

<p>
  <b>Sex offender:</b>
  <%= check_box_tag :sex_offender, 'true', @crime_sentence.sex_offender, :onclick=>"return false;" %>
</p>

<br/>