
<p>
  <b>Facility:</b>
  <%=h @crime_sentence.prison.name unless @crime_sentence.prison.nil? %>
</p>

<p>
  <b>Incarceration Length:</b>
  <%=h @crime_sentence.incarceration_length.name unless @crime_sentence.incarceration_length.nil? %>
</p>

<p>
  <b>Work Furlough/Work Release:</b>
  <%= check_box_tag :verified, 'true', @crime_sentence.furlough, :onclick=>"return false;" %>
</p>

<p>
  <%= f.label :crime_types, "Crime Type(s)" %><br/>
  <div>
	<% @crime_sentence.crime_types.each do |crime_type| %>
		<%=h crime_type.name %>
		<br/>
	<% end %>
  </div>
</p>

<p>
  <b>Last Modified:</b>
  <%=h @crime_sentence.updated_at.strftime("%m/%d/%Y") unless @crime_sentence.updated_at.nil? %>
</p>

<p>
  <b>Modified By:</b>
  <%=h User.find(@crime_sentence.updater_id).name unless @crime_sentence.updated_at.nil? %>
</p>

<br/>