
<% form_for([@client,@address]) do |f| %>
  <%= f.error_messages %>
	<table>
	  <tr>
		<td>
		  <table>
			<%= render :partial=>'addresses/form', :locals=>{ :f=>f } %>
		  </table>
		</td>
	    <td height="30" valign="bottom">
		  <!-- javascript to update with primary address info -->
		  <%= link_to_function("Copy&nbsp;from&nbsp;Primary&nbsp;Address", :style=>"font-size: 7pt;") do |page|
			  page[:address_address1].value = @primary_address.address1
			  page[:address_address2].value = @primary_address.address2
			  page[:address_city].value = @primary_address.city
			  page[:address_state_id].value = @primary_address.state_id
			  page[:address_zip_code].value = @primary_address.zip_code
			  end unless @primary_address.nil?
		  %>
		  <br/>
		  <br/>
		  <%= f.submit 'Update' unless request.xhr? %>
		  <%= submit_to_remote 'update_ajax_btn', 'Update', :url=>{:action=>'update'} if request.xhr?%>
		</td>
	  </tr>
    </table>
<% end %>

