
<% form_for([@client,@address]) do |f| %>
  <%= f.error_messages %>
	<table width="75%">
	  <tr>
	    <td>
	    <%= f.label :state %><br />
	    <%= f.collection_select(:state_id,State.find(:all,:order=>"description"),:id,:description) %>
		</td>
	    <td align="right" width="30">
		</td>
	  </tr>
	  <tr>
	    <td>
	      <%= f.label :address1 %><br />
	      <%= f.text_field :address1 %>
		</td>
	  </tr>
	  <tr>
	    <td>
	      <%= f.label :address2 %><br />
	      <%= f.text_field :address2 %>
		</td>
	  </tr>
	  <tr>
	    <td>
	      <%= f.label :city %><br />
	      <%= f.text_field :city %>
		</td>
	  </tr>
	  <tr>
	    <td>
	      <%= f.label :zip_code %><br />
	      <%= f.text_field :zip_code %>
		</td>
	  </tr>
	  <tr>
	    <td>
	      <%= f.label :start_date, "Start Date"%><br />
	      <%= f.date_select :start_date, :order=>[:month,:day,:year], :include_blank=>true  %>
		</td>
	  </tr>
	  <tr>
	    <td>
	      <%= f.label :end_date, "End Date" %><br />
	      <%= f.date_select :end_date, :order=>[:month,:day,:year], :include_blank=>true %>
		</td>
	  </tr>
	  <tr>
	    <td>
		  <%= f.label :address_type, "Type" %><br/>
		  <%= f.collection_select(:address_type_id,AddressType.all,:id,:name) %>
		</td>
	  </tr>
	  <tr>
	    <td height="30" valign="bottom">
		  <%= f.submit 'Update' unless request.xhr? %>
		  <%= submit_to_remote 'update_ajax_btn', 'Update', :url=>{:action=>'update'}, :update=>'contacts-content' if request.xhr?%>
		</td>
	  </tr>
    </table>
<% end %>

