
<table>
  <tr>
	<td><b>Address1:</b>&nbsp;<%=h @address.address1 %></td>
	<td width="10"></td>
	<% unless @address.address2.nil? or @address.address2.empty? %>
	<td><b>Address2:</b>&nbsp;<%=h @address.address2 %></td>
	<td width="10"></td>
	<% end %>
	<td><b>City:</b>&nbsp;<%=h @address.city %></td>
	<td width="10"></td>
	<td><b>State:</b>&nbsp;<%=h @address.state.code %></td>
	<td width="10"></td>
	<td><b>Zip code:</b>&nbsp;<%=h @address.zip_code %></td>
  </tr>
</table>
<table>
  <tr>
	<td><b>Housing Type:</b>&nbsp;<%=h @address.address_type.name unless @address.address_type.nil? %></td>
	<td width="10"></td>
	<td><b>Last Modified:</b>&nbsp;<%=h @address.updated_at.strftime("%m/%d/%y") unless @address.updated_at.nil? %></td>
	<td width="10"></td>
	<td><b>Modified By:</b>&nbsp;<%=h h User.find(@address.updater_id).name unless @address.updater_id.nil? %></td>
  </tr>
</table>
