<div>
	<% form_tag url_for(:controller=>"/reports/distinct_detail/index") do |f| %>
		<table>
			<tr>
				<td>
					<table>
						<tr>
							<td>From Date:</td>
							<td><%= calendar_date_select_tag :from_date, params[:from_date], :valid_date_check => "date > (new Date('1/16/2011'))" %></td>
							
						</tr>
						<tr>
							<td>To Date:</td>
							<td><%= calendar_date_select_tag :to_date, params[:to_date], :valid_date_check => "date.stripTime() >= (new Date($('from_date').value)).stripTime()" %></td>
						</tr>
					</table>
				</td>
				<td>Contact Types:
					<table>
						<tr>
							<% ContactType.all.each do |c_type| %>
							<td>
								<% is_checked = params["contact_types"].nil? ? true : params["contact_types"].include?(c_type.id.to_s) %>
								<%= check_box_tag "contact_types[]", c_type.id, is_checked %><%= c_type.name %>
							</td>
							<% end %>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table width="650px">
			<tr>
				<td colspan="2">
					Format: <%= radio_button_tag "tabular", 'chart', params["tabular"] == 'chart' %>&nbsp;Monthly Totals Report&nbsp;&nbsp;&nbsp;
					<%= radio_button_tag "tabular", 'table', params["tabular"] == 'table' %>&nbsp;Detail Report&nbsp;&nbsp;&nbsp;
					<%= submit_tag "Search" %>
				</td>
			</tr>
		</table>
	<% end %>
</div>
<% if @tabular == 'chart' then %>
	<div>
		<% # The xml is obtained as a string from builder template.
			str_xml = render "/reports/distinct_detail/index.xml.builder" %>
		<% str_xml %>
		<% #Create the chart - Column 3D Chart with data from strXML
			render_chart '/charts/FCF_Line.swf' , '' , str_xml , 'Distinctclientcontact' ,  750 ,  400 ,  false, false do end %>

	</div>
<% end %>

<% if @tabular == 'table' then %>
	<hr/><br/>
	<table cellspacing="2">
	  <tr>
			<th class="alignLeft padRight8">Month Year</th>
			<th colspan="2" class="alignLeft padRight8">Name</th>
			<th class="alignRight">Total Contacts</th>
	  </tr>

	  <% @disclientdetail.each do |resource| %>
		  <tr>
			<td class="alignLeft padRight8"><%= resource.contact_date.strftime("%B %Y") %></td> 

				<td>
			  	<div class="photoImage floatLeft">
						<% if !resource.client.pictures.empty? and resource.client.pictures.first.photo.exists? %>
							<%= image_tag resource.client.pictures.first.photo.url, :width=>"30" %>
						<% else %>
							<%= image_tag 'defaultphoto.gif', :size=>"30x30" %>
						<% end %>
				  </div>
		  	</td>
		    <td>
				  <%= link_to h(resource.client.name), resource.client %><br/>
				</td>
				<td class="alignRight padRight8"><%= resource.contacts %></td>
		  </tr>
			<tr><td colspan="10"><hr></td></tr>
	  <% end %>
	</table>
<% end %>

