
<table>
  <tr>
    <td class="fieldLabel">Substance</td>
	<td width="10"></td>
<!--    <td class="fieldLabel">Entry Date</td>
	<td width="10"></td> -->
    <td class="fieldLabel">Sober Date</td>
	<td width="10"></td>
  </tr>

<% @client.used_substances.each do |used_substance| %>
  <tr>
    <td class="fieldData"><%=h used_substance.substance.name %></td>
	<td width="10"></td>
<!--    <td class="fieldData"><%=h used_substance.entry_date.strftime("%m/%d/%Y") unless used_substance.entry_date.nil? %></td> 
	<td width="10"></td>-->
    <td class="fieldData"><%=h used_substance.sober_date.strftime("%m/%d/%Y") unless used_substance.sober_date.nil? %></td>
	<td width="10"></td>
    <td><%= link_to_remote 'Details', :url=>client_used_substance_path(@client,used_substance), :update=>"infamy-content", :method=>'get' %></td>
    <td><%= link_to_remote 'Edit', :url=>edit_client_used_substance_path(@client,used_substance), :update=>"infamy-content", :method=>'get' %></td>
    <td><%= link_to_remote 'Destroy', :url=>client_used_substance_path(@client,used_substance), :update=>"infamy-content", :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% if @client.used_substances.empty? %>
  <tr>
  	<td colspan="5" class="fieldData">No Used Substances</td>
  </tr>
<% end %>
</table>

<br />
