<h1>New assigned_status_type</h1>

<% form_for(@assigned_status_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :status_type_id %><br />
    <%= f.text_field :status_type_id %>
  </p>
  <p>
    <%= f.label :client_id %><br />
    <%= f.text_field :client_id %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', assigned_status_types_path %>