<h1>Listing agency_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @agency_types.each do |agency_type| %>
  <tr>
    <td><%=h agency_type.name %></td>
    <td><%= link_to 'Show', agency_type %></td>
    <td><%= link_to 'Edit', edit_agency_type_path(agency_type) %></td>
    <td><%= link_to 'Destroy', agency_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New agency_type', new_agency_type_path %>