<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name.titleize %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'stjoesmain2' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag :defaults %>
  <%#= active_scaffold_includes %>
</head>
<body>
<div id="wrapper">
	
	<%= render 'shared/header' %>
	<%= render 'shared/navigation' %>
		
	<div id="content">
		<% unless flash[:error].nil? %><p style="color: red"><%= flash[:error] %></p><% end %>
		
		<% if logged_in? %>
			<% if !@client.nil? && !@client.new_record? %>
				<div id="client-content">
				  <%= render 'shared/banner_client' %>
				  <div id="client-element">
					<%= yield %>
				  </div>
				</div>
				<br/>
				<div id="contacts-content">
					<%= render :partial=>'shared/banner_contacts', :locals => {:name=>session[:contacts_section], :sections=>["contacts","addresses","phones","pictures","assigned_resources"] } %>
					<div id="contacts-element">
					  <%= render "#{session[:contacts_section]}/index" %>
					</div
				</div>
			    <br/>
				<div id="jobs-content">
				  <%= render :partial=>'shared/banner_jobs', :locals => {:name=>session[:jobs_section], :sections=>["jobs","job_applications","job_interviews", "registered_classes"]} %>
				  <div id="jobs-element">
				    <%= render "#{session[:jobs_section]}/index"  %>
				  </div>
				</div>
			    <br/>
				<div id="infamy-content">
				  <%= render :partial=>'shared/banner_infamy', :locals => {:name=>session[:infamy_section], :sections=>["assigned_agencies","used_substances","crime_sentences"]} %>
				  <div id="jobs-element">
				    <%= render "#{session[:infamy_section]}/index"  %>
				  </div>
				</div>
			<% else %>
				<%= render 'shared/banner_references' %>
				<div id="item_list">
				<%= yield %>
				<div id="item_list">
			<% end %>
		<% else %>
			<%= yield %>
		<% end %>
	</div>
	
	<div class="close"></div>
</div>
<div class="spacer"></div>

</body>
</html>
