<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title.blank? ? controller.controller_name.titleize + ": " + controller.action_name : @title %></title>
  <%= stylesheet_link_tag 'stjoesmain2' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'busy_ajax' %>
  <%= calendar_date_select_includes :red %>
</head>
<body>
<div id="wrapper">
	<%= render 'shared/header' %>
	<%= render 'shared/navigation' %>
	
	<div id="content">
		<%= "<h1>#{@title}</h1><br/>" if @title %>
		<%= yield %>
	</div>
	
	<div class="close"></div>
</div>
<div class="spacer"></div>

</body>
</html>
